body {
    background-attachment: fixed;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fbesthqwallpapers.com%2Fes%2Ftexturas%2F4k-figuras-geom%25C3%25A9tricas-arte-abstracto-textura-29194&psig=AOvVaw0S7R9FHlKEOlrbGFsXAejF&ust=1641451724177000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKCn5quCmvUCFQAAAAAdAAAAABAT);
}

.center {
    display: flex;
    justify-content: center;
}

div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 400px;
    background-color: #1e1;
    padding: 50px;
    border: 2px solid #fff ;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}